APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=webing_store
DB_USER=root
DB_PASS=

MAIL_HOST=smtp.example.com
MAIL_USER=
MAIL_PASS=

DEFAULT_ADMIN_EMAIL=admin@local.test
DEFAULT_ADMIN_PASSWORD=Password123!
